{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
{% for c in categories %}
    <div>
        <a href="{% url 'catalog:category_view' brand.slug c.slug %}">{{ c.name }}
            ({{ c.products__count }}) </a>
     </div>
{% endfor %}

{% for c in products %}
    <div>
        <a href="{% url 'catalog:product_view' brand.slug c.category.slug c.slug %}">{{ c.name }}</a>
        {% if c.productimage_set.all %}
            {% for product_image in c.productimage_set.all %}
            <br>
            <img class="product-image" src="{{ product_image.image.url }}" alt="{{ c.description }}">
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}

</body>
</html>