{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% for c in category.product_set.all %}
    <div>
        <a href="{% url 'catalog:product_view' brand.slug category.slug c.slug %}">{{ c.name }}</a>
            <br>
            {{ c.price }} бел.р.
            <br>
    {% if c.productimage_set.all %}
        {% for product_image in c.productimage_set.all %}
        <br>
        <img class="product-image" src="{{ product_image.image.url }}"
             width="200" height="200" alt= "{{ c.name }}" > >
        <br>
    </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock %}


