{% extends 'catalog/catalog_base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>

<ul class="hr">
{% for c in category.product_set.all %}
    <li>
        <a href="{% url 'catalog:product_view' brand.slug category.slug c.slug %}">{{ c.name }}</a>
            <br>
            {{ c.price }} бел.р.
        {% if c.productimage_set.all %}
            {% for product_image in c.productimage_set.all %}
        <img class="product-image" src="{{ product_image.image.url }}"
             width="200" height="300" alt= "{{ c.name }}" >
            {% endfor %}
        {% endif %}
    </li>
{% endfor %}
{% endblock %}
</ul>


