{% extends 'catalog/catalog_base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Brand</title>
</head>

<body>

<ul class="hr">
{% for c in brands  %}
    {% if c.brandimage_set.all %}
        {% for brand_image in c.brandimage_set.all %}
        <li>
        <a href="{% url 'catalog:brand_view' c.slug %}">{{ c.name }}</a>
            <br>
        <img class="thumb" src="{{ brand_image.image.url }}" width="450" height="250"
             alt="{{ c.name }}">
        </li>
        {% endfor %}
    {% endif %}
{% endfor %}


{% endblock %}
</body>


