{% extends 'catalog/catalog_base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>


{% for c in products %}
    <div>
        <a href="{% url 'catalog:product_view' brand.slug category.slug  c.slug %}">
            <h1>{{ c.name }}</h1></a>
    </div>
        {{ c.description }}
<p class="price">{{ c.price }} бел.р.</p>
    <form action="{% url "cart:cart_add" c.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>
<ul class="hr">
    {% if c.productimage_set.all %}
        <li>
            {% for product_image in c.productimage_set.all %}
        <img class="product-image" src="{{ product_image.image.url }}"
             width="200" height="300" alt= "{{ c.name }}" >
        </li>
            {% endfor %}
    {% endif %}
</ul>
{% endfor %}

{% endblock %}