{% extends 'base.html' %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}
{% block content %}
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Обновить количество</th>
            <th>Количество</th>
            <th>Цена за шт</th>
            <th>Всего</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            {% if product.productimage_set.all %}
                                {% for product_image in product.productimage_set.all %}
                                <img class="product-image" src="{{ product_image.image.url }}"
                                width="250" height="300">
                                {% endfor %}
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{% url 'catalog:product_view' product.brand.slug product.category.slug product.slug %}">
                    {{ product.name }}</a></td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Обновить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">{{ item.price }} бел.р</td>
                    <td class="num">{{ item.total_price }} бел.р</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Всего к оплате:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} бел.р</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'catalog:home' %}" class="button light">Продолжить покупки</a>
        <a href="#" class="button">Оформить заказ</a>
    </p>
{% endblock %}
