{% extends 'authentication/auth_base.html' %}

{% load widget_tweaks %}


{% block title %}Вход{% endblock %}

    {% block content %}
        <form
            method="post"
            action="{% url 'authentication:login' %}"
        >
            {% csrf_token %}

            {% for field in form %}
                <div class="form-row">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <button type="submit">Войти</button>

        <p>Если у вас еще нет аккаунта в нашем магазине, зарегистрируйтесь</p>
        <a href="{% url 'authentication:registration' %}"> Зарегистрироваться</a>
        </form>
    {% endblock %}