<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% for c in category.product_set.all %}
    <div>
        <a href="{% url 'catalog:product_view' brand.slug category.slug c.slug %}">{{ c.name }} </a>
    {% if c.productimage_set.all %}
        {% for product_image in c.productimage_set.all %}
        <br>
        <img class="product-image" src="{{ product_image.image.url }}" alt="{{ c.name }}" >
        <br>
    </div>
        {% endfor %}
    {% endif %}
{% endfor %}




